.search-container {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  border: 1px solid #999;
  transition: border-color 0.15s ease;
  gap: 10px;
  /* overflow: hidden; */
  backdrop-filter: blur(10px);
  user-select: none;
  /* z-index: 999; */
}
.search-input {
  appearance: none;
  border: none;
  flex: 1;
  height: 100%;
  margin-left: 15px;
  outline: none;
  background-color: transparent;
  min-width: 0;
}

.search-container:focus-within {
  border: 1px solid rgb(0, 51, 179);
}

.search-count {
  color: #999;
  /* margin-right: 15px; */
  animation: counterAppear 0.15s ease;
}

@keyframes counterAppear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.search-filter {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  animation: search-button-appear 0.15s ease;

  svg {
    width: 25px;
    height: 25px;
  }
}

@keyframes search-button-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.search-dropdown {
  position: absolute;
  right: 15px;
  border-radius: 12px;
  padding: 5px;
  z-index: 99;
  top: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e5e9;
  visibility: hidden;
  scale: 0;
  opacity: 0;
  transition: all 0.2s ease;
  transform-origin: top right;

  &.visible {
    visibility: visible;
    scale: 1;
    opacity: 1;
  }
}

.search-dropdown div {
  display: flex;
  border-radius: 7px;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: rgba(209, 213, 219, 0.5);
  }

  &.selected {
    background-color: rgba(209, 213, 219, 0.5);
  }
}

.search-count-filter-container {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-right: 15px;
}
