:root {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-bg: #e8e8e9;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;
}

.checkmark {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #2c9fe6;
  scale: 1;
  visibility: visible;
  transition: scale 0.2s, visibility 0.2s;

  svg {
    transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out;
    scale: 0;
    border-radius: 50%;
  }

  &.visible {
    svg {
      transition: scale 0s, background-color 0.2s ease-in-out;
      scale: 1;
      background-color: #2c9fe6;
    }
  }

  &.hidden {
    scale: 0;
    visibility: hidden;
  }
}

.modal-form {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save-button {
  background-color: #2c9fe6;
  color: #fff;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  user-select: none;
  font-weight: 500;

  svg {
    width: 27px;
    height: 27px;
  }

  &:hover {
    background-color: #43aaeb;
  }

  &:active {
    scale: 0.98;
  }
}

.save-button[data-disabled='true'] {
  opacity: 0.7;
  pointer-events: none;
}

.technology-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.technology-card {
  width: fit-content;
  max-width: 100%;
  min-width: 120px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  background: transparent;
  border-radius: 20px;
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  border: 2px solid #999;
  border-bottom: 5px solid #999;
  padding: 20px 20px;
  transform-origin: center top;

  &.narrow {
    max-width: calc(100% - 70px);
    pointer-events: none;
    user-select: none;
  }

  &.full-size {
    width: 100%;
    .card-title span {
      max-width: calc(100% - 60px);
    }
  }
}

.technology-card.appeared {
  animation: appear 0.4s forwards;
}

.technology-card.highlighted {
  transform-origin: center center;
  transform: scale(1.2);
  background-color: #7c4dff;
  -webkit-mask: linear-gradient(45deg, #000c 40%, #000, #000c 60%) 0 100%/250%
    250%;
  animation: glow 0.7s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    -webkit-mask-position: 100% 0;
  }
  100% {
    -webkit-mask-position: 0 0;
  }
}

.deadline-container {
  border-radius: 20px;
  outline: 1px solid #999;
  max-width: 200px;
  overflow: hidden;
  transition: outline-color 0.2s ease-in-out;
  &:focus-within {
    outline: 2px solid #2c9fe6;
  }
}

.input-deadline {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  height: fit-content;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.link-header,
.modal-form-header,
.description-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.modal-links {
  margin-top: 20px;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notes-container {
  border-radius: 20px;
  padding: 7px;
  outline: 1px solid #999;
  min-height: 34px;
  height: fit-content;
  max-height: 400px;
  transition: outline-color 0.2s ease-in-out;

  &:focus-within {
    outline: 2px solid #2c9fe6;
  }
}

.textarea-notes {
  display: block;
  outline: none;
  max-width: 100%;
  min-width: 100%;
  background-color: transparent;
  /* resize: none; */
  border: none;
  overflow: scroll;
  line-height: 1.5;
  overscroll-behavior: contain;
  max-height: 360px;
  font-size: 1rem;
}

.card-header {
  text-align: center;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  /* position: relative; */
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.card-title span {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

:root {
  --in-progress-bg: #ffef00;
  --completed-bg: #27ae60;
}

.technology-card.status-in-progress {
  --in-progress-bg: #ffef00;
  border: 2px solid var(--in-progress-bg);
  border-bottom: 5px solid var(--in-progress-bg);
}

.technology-card.status-completed {
  --completed-bg: #27ae60;
  border: 2px solid var(--completed-bg);
  border-bottom: 5px solid var(--completed-bg);
}

.modal-description {
  margin-top: 10px;
}

.description-text {
  /* color: #333; */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #999;
}

.user-info {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #0477bf;
}

.status-badge {
  color: inherit;
  position: absolute;
  padding: 2px 4px;
  font-size: 0.7em;
  font-weight: 500;
  top: 1px;
  right: 7px;
  transition: all 0.4s ease-in-out;
  height: 18px;
  background-color: transparent;
  border: 0.5px solid #999;
  border-radius: 99rem;
  outline: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  border-radius: 20px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  /* color: #000; */
  border-radius: 99rem;
  outline: 0.5px solid #999;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  /* top: 20px;
  left: 20px; */

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.card-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.link-input {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}

.link-input-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.link-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  border-radius: 99rem;
  width: 100%;
  padding: 3px 15px;
  position: relative;

  &:focus-within {
    outline: 2px solid #2c9fe6;
  }
}

.link-url {
  padding-right: 25px;
}

.link-divider {
  width: 1px;
  height: 20px;
  background-color: rgba(127, 127, 127, 0.5);
}

.resources-isedit-icon {
  margin-left: 3px;

  svg {
    height: 20px;
  }

  &.done {
    height: 100%;
    background-color: #2c9fe6;
    border-radius: 99rem;
    font-size: 0.75rem;
    padding: 0 15px;
    cursor: pointer;
    color: #fff;
  }
}

.remove-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
  svg {
    height: 100%;
    width: auto;
  }
}

.add-link-button {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(127, 127, 127, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99rem;
}
