:root {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;
  --c-bg: #e8e8e9;
  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;
}

.technology-card.highlighted {
  scale: 1.2;
  background-color: rgba(84, 229, 255, 0.1);
}

.checkmark {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #2c9fe6;
  scale: 1;
  visibility: visible;
  transition: scale 0.2s, visibility 0.2s;

  svg {
    transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out;
    scale: 0;
    border-radius: 50%;
  }

  &.visible {
    svg {
      transition: scale 0s, background-color 0.2s ease-in-out;
      scale: 1;
      background-color: #2c9fe6;
    }
  }

  &.hidden {
    scale: 0;
    visibility: hidden;
  }
}

.modal-form {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.save-button {
  background-color: #2c9fe6;
  color: #fff;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  user-select: none;
  font-weight: 500;

  svg {
    width: 27px;
    height: 27px;
  }

  &:hover {
    background-color: #43aaeb;
  }

  &:active {
    scale: 0.98;
  }
}

.save-button[data-disabled='true'] {
  opacity: 0.7;
  pointer-events: none;
}

.technology-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.technology-card {
  width: fit-content;
  max-width: 100%;
  min-width: 120px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  background: transparent;
  border-radius: 20px;
  opacity: 1;
  scale: 1;
  transition: all 0.2s ease-in-out;
  border: 2px solid #999;
  border-bottom: 5px solid #999;
  padding: 20px 20px;

  &.narrow {
    max-width: calc(100% - 70px);
    pointer-events: none;
    user-select: none;
  }

  &.full-size {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover {
    /* scale: 1.05; */
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.deadline-container {
  border-radius: 20px;
  outline: 1px solid #999;
  max-width: 200px;
  overflow: hidden;
  transition: outline-color 0.2s ease-in-out;
  &:focus-within {
    outline: 2px solid #2c9fe6;
  }
}

.input-deadline {
  width: 100%;
  padding: 7px;
  border: none;
  outline: none;
  height: fit-content;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.link-header,
.modal-form-header,
.description-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.modal-links {
  margin-top: 20px;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notes-container {
  border-radius: 20px;
  padding: 7px;
  outline: 1px solid #999;
  min-height: 34px;
  height: fit-content;
  max-height: 400px;
  transition: outline-color 0.2s ease-in-out;

  &:focus-within {
    outline: 2px solid #2c9fe6;
  }
}

.textarea-notes {
  display: block;
  outline: none;
  max-width: 100%;
  min-width: 100%;
  background-color: transparent;
  /* resize: none; */
  border: none;
  overflow: scroll;
  line-height: 1.5;
  overscroll-behavior: contain;
  max-height: 360px;
}

.card-header {
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.card-title {
  margin: 0;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.technology-card.status-in-progress {
  --in-progress-bg: #ffef00;
  border: 2px solid var(--in-progress-bg);
  border-bottom: 5px solid var(--in-progress-bg);
}

.technology-card.status-completed {
  --completed-bg: #27ae60;
  border: 2px solid var(--completed-bg);
  border-bottom: 5px solid var(--completed-bg);
}

.modal-description {
  margin-top: 10px;
}

.description-text {
  color: #666;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #999;
}

.user-info {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #0477bf;
}

.status-badge {
  position: absolute;
  padding: 2px 4px;
  font-size: 0.7em;
  font-weight: 500;
  top: 1px;
  right: 7px;
  transition: all 0.4s ease-in-out;
  height: 18px;
  background-color: transparent;
  border: 0.5px solid #999;
  border-radius: 99rem;
  outline: none;
  user-select: none;
  cursor: pointer;
}

.close-button {
  border-radius: 20px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  color: #000;
  border-radius: 99rem;
  outline: 0.5px solid #999;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.card-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.details-button {
  cursor: pointer;
  font-style: italic;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 25px;
  font-size: 12px;
  width: 50px;
  overflow: hidden;
  color: #fff;
  border-radius: 99rem;
  border: inset 1px #999;
  background-color: #000000;
}
