* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
  appearance: none;
}

html,
body {
  /* background-color: #e8e8e9; */
  touch-action: manipulation;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.4s;
}

body {
  overflow-x: hidden;
}

.app {
  max-width: 660px;
  margin: 0 auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  /* transform: translate(0, 0); */
}

input,
textarea,
select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  font-weight: 400;
  color: inherit;
}

#root {
  height: max-content;
}

.app h1 {
  text-align: center;
  transition: all 0.4s;
  /* color: #333; */
}

.technologies-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  user-select: none;

  &.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    user-select: unset;
  }
}

.content-wrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: relative;
}

.data-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  position: relative;
}

.sad-emoji {
  font-size: 5rem;
  text-align: center;
  user-select: none;
}

.no-technologies {
  margin-top: 20px;
  animation: noTechnologies 0.4s;
}

@keyframes noTechnologies {
  0% {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 999;
}

.roadmaps {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  user-select: none;

  &.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    user-select: unset;
  }
}

.roadmap-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 99rem;
  padding: 10px 20px;
  max-width: 100%;
  margin: 10px 0;
}

svg {
  display: block;
}
